/* Base */
body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: #fff;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    width: 95%;
    padding: 15px;
    background: #111;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Menu */
#Menu {
    display: none;
    background: #38bdf8;
    border: none;
}

/* Sections */
section {
    padding: 90px 10%;
}

h1,
h2 {
    color: #38bdf8;
}

/* Form */
form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background: #000;
    color: #fff;
    border: 1px solid #38bdf8;
}

/* Mobile */
@media(max-width:768px) {
    #Menu {
        display: block;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        width: 100%;
        background: #111;
    }

    #nav-links.show {
        display: flex;
    }
}
